__pycache__/assessment.cpython-36.pyc
__pycache__/datastore.cpython-36.pyc
__pycache__/schoolrecords.cpython-36.pyc
__pycache__/datastore.cpython-36.pyc
__pycache__/assessment.cpython-36.pyc
__pycache__/
ais_marker_db
*.pyc