/* Contains styles that are used all over the pages */

.black-link {
    color: black;
    cursor: pointer;
}

.full-width-table {
    width: 100%;
}

button {
    outline: none;
}

.border-bottom-only {
    border-bottom: 1px solid #bbbbbb;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

input {
    text-indent: 5px;
}

.loader-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-logo {
    width: 100px;
}

.small-icon a {
    line-height: 30px;
    font-size: 20px;
}

.app-title {
    vertical-align: middle;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 700;
    color: white;
}

.small-circle-bg {
    width: 30px;
    height: 30px;
}

.three-col-spaced {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.three-col-spaced div {
    padding: 10px;
}

.menu-item a {
    width: inherit;
    height: inherit;
    color: rgba(0, 0, 0, 0.7);
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50%;
}

.menu-item a:hover {
    color: white;
    text-decoration: none;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.3s;
}

.small-padded {
    padding: 1em;
}

.medium-padded {
    padding: 3em;
}

button:focus {
    outline: 0;
}

.disabled-highlight-table td {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

.dropdown_container {
    position: relative;
    display: inline-block;
}

.dropdown_trigger {
    display: block;
}

.dropdown_menu {
    position: absolute;
    display: none;
    top: 100%;
    background: #f1ebeb;
    width: 200px;
    list-style: none;
    padding: 1em;
    border: 1px solid #c5bfbf;
    border-top: none;
    box-shadow: 2px 2px 2px #c0baba;
}

.show_dropdown .dropdown_menu {
    display: block;
}

.black-link {
    color: black;
    cursor: pointer;
    text-decoration: underline;
    border: none;
    background: none;
    outline: initial;
}

p.popup-icon-link {
    cursor: pointer;
    margin-bottom: 5px;
}

p.popup-icon-link:hover span {
    text-decoration: underline;
}